.container {
    margin: 0;
  }
  
  .header {
    height: 317px;
    width: 314px;
  }
  
  .avatar {
    width: 314px;
    height: 317px;
    top: 44px;
    left: 116px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
  }
  
  .bio {
    background-color: #1A1B21;
    padding-bottom: 32px;
    padding-top: 20px;
  }
  
  .name {
    margin: 0;
    font-size: 25px;
    color: #FFFFFF;
  }
  
  .title {
    margin: 0;
    color: #f47d27;
    padding-top: 10px;
    font-size: 16px;
  }
  
  .small {
    margin: 0;
    padding-top: 10px;
    color: #F5F5F5;
    font-size: 12px;
  }
  
  .contacts {
    padding-top: 22px;
  }
  
  .links {
    text-decoration: none;
    display: inline-block;
    align-items: center;
    border: 1px solid #d1d5db;
    color: #374151;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .email:hover,
  .email:focus {
    background-color: #d9d9d9;
    color: #ffffff;
  }
  
  .icons {
    width: 24px;
    /*height: 34px;*/
    top: 468px;
    left: 283px;
    /*Radius: 6px;*/
    padding-right: 9px 13px 9px 11px;
    align-items: center;
  }
  
  .email {
      background-color: #FFFFFF;
      margin-left: 17px;
  }
  .linkedin {
    background-color: #297fe5;
    color: #ffffff;
    margin-left: 17px;
  }
  
  .linkedin:hover,
  .linkedin:focus {
    background-color: #1c559b;
  }